@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;

  @supports (overflow: clip) {
    overflow-x: clip;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  @supports (overflow: clip) {
    overflow-x: clip;
  }
}

#__nuxt,
#__nuxt > * {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  @supports (overflow: clip) {
    overflow-x: clip;
  }
}

body {
  min-height: 100vh;
  background: $color-background;
  color: $color-text;
}

textarea {
  background: white;
}
