@use 'breakpoints' as *;
@use 'spacing' as *;

@mixin layout-container {
  @include md {
	padding: $space-m;
  }

  @include lg {
	padding: $space-l;
	margin: auto;
    max-width: $breakpoint-lg
  }
}

